<div>
    <form class="auth-frame">
      <label id="auth-header">Регистрация пользователя</label>
      <div class="mb-3">
        <label for="userNameInput">Имя пользователя</label>
        <input type="text" class="form-control" id="userNameInput">
      </div>
      <div class="mb-3">
        <label for="passwordInput">Пароль</label>
        <input type="password" class="form-control" id="passwordInput">
      </div>
      <div class="mb-3">
        <label for="passwordRepeatInput">Подтверждение пароля</label>
        <input type="password" class="form-control" id="passwordRepeatInput">
      </div>
      <button type="submit" class="btn btn-primary">Подтвердить</button>
    </form>
  </div>